* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  margin: 0 0;
}

/***************
 *   General   *
 ***************/
.App {
  text-align: center;
}

.page-title {
  text-align: center;
  margin: 0 auto;
  font-size: 2em;
}

.loading-container {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-container {
  padding: 3em;
  line-height: 1.25em;
}

.faq-container {
  text-align: left;
  padding: 1em 3em 3em 3em;
}

.contact-container, .privacy-container {
  padding: 3em;
}

.contact-container a {
  font-size: 1.25em;
}

.privacy-container p {
  overflow: scroll;
  text-align: left;
  line-height: 1.25em;
  font-size: 0.9em;
}

.footer {
  font-size: 0.75em;
}

a:link {
  text-decoration: underline;
  color: black;
}

a:visited {
  color: black;
}

.privacy-in-dialog {
  padding: 0 0!important;
  font-size: 0.9em;
}
/*.grid-list{
  width: 100%;
}*/
/**************
 *   Header   *
 *************/
.nav-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-item {
  margin: 0 0.5em !important;
  padding: 0.5em 0.5em !important;
}

.nav-item:hover {
  text-decoration: underline;
}

.account-button {
  display: flex;
  align-items: center;
  position: fixed;
  right: 1em;
  margin: 0 1em;
}

header a:link {
  text-decoration: none;
}

/*****************
 *   Game Page   *
 *****************/
 
 #listTag{
  font-size: 25px;
 }
.game-container {
  padding: 2em;
}

.canvas-container {
  position: relative;
  border-radius: 50%;
}

.audio-canvas {
  border-radius: 50%;
  background-color: aliceblue;
}

.play-button, .canvas-container button {
  display: none;
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.canvas-container:hover .play-button {
  display: block;
  width: 180px;
  height: 180px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 0;
}

/* .canvas-container:hover .audio-canvas {
  background-color:rgba(128, 128, 128, 0.3);
} */

.gray {
  color: gray;
}

.pink {
  color: pink;
}

.rule-list {
  margin: auto;
}

.rule-list li {
  margin: 0.4em 0;
}

.example-tags-list {
  margin: 0.65em 0;
  font-size: 0.65em;
}

.example-tags-list li {
  margin: 0.2em 0;
}

/********************
 *   Summary Page   *
 *******************/
.summary-container {
  padding: 1em 0em;
}

.summary-container h2 {
  align-self: flex-start;
  padding: 0em 2em;
}

.card-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  padding: 1em 3em;
}

.card-list {
  flex-wrap: nowrap !important;
  overflow-y: auto;
  transform: translateZ(0);
}

.audio-card {
  text-align: left;
  width: 10em;
  word-break: break-word;
  max-height: 15em;
  overflow-x: scroll;
}

.audio-card h5 {
  margin: 0;
  font-size: 0.75em;
}

.audio-card p {
  font-size: 0.8em;
}

/********************
 *   Leaders Page   *
 *******************/
.table-container {
  padding: 1em 3em;
}

@media only screen and (max-width: 2000px) {
  .table-container {
    margin: 1em 30vw;
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 1000px) {
  .table-container {
    margin: 1em 20vw;
  }
}

@media only screen and (max-width: 500px) {
  .table-container {
    margin: 1em 1em;
  }
}

 .leaderboard {
   margin: 0 auto;
   width: auto !important;
 }